{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "user/styles.css" %}>
    <link rel="stylesheet" href={% static "user/custom_styles.css" %}>
    <title>{% block page_title %}Prophecy{% endblock page_title %}</title>
</head>

<body>
    <nav class="shadow-md">
        <div class="px-4">
            <div class="flex justify-between">
                <!-- Website logo -->
                <div class="flex">
                    <a class="flex items-center" href="{% url "index" %}">
                        <img class="h-16 w-16 mr-3" src={% static "user/images/Prophecy.svg" %} alt="">
                        <span class="font-bold text-3xl h-10">Prophecy</span>
                    </a>
                </div>
                <!-- Nav items -->
                <div class="flex space-x-1 items-center">
                    {% if request.user.is_authenticated %}
                    <a class="text-xl py-2 px-2 mt-1 text-gray-500 font-semibold hover:border-gray-700 border-transparent border-b-4" href="{% url 'logout' %}">Logout</a>
                    <a class="text-xl py-2 px-2 mt-1 text-gray-500 font-semibold hover:border-gray-700 border-transparent border-b-4" href="{% url 'create_post' %}">Post</a>
                    {% else %}
                    <a class="text-xl py-2 px-2 mt-1 text-gray-500 font-semibold hover:border-gray-700 border-transparent border-b-4" href="{% url 'login' %}">Login</a>
                    <a class="text-xl py-2 px-2 mt-1 text-gray-500 font-semibold hover:border-gray-700 border-transparent border-b-4" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock content %}
</body>

</html>