{% extends "user/base.html" %}

{% block page_title %}Change Password{% endblock page_title %}
{% block content %}
<h1 class="text-4xl mt-10 text-center">🔑 Change Password 🔏</h1>


<div class="container p-5">
    {% if form.errors %}
    <div class="error-container text-red-600 text-lg text-center">
        {% for field in form %}
            {{field.errors}}
        {% endfor %}
    </div>
    {% endif %}
    <div class="flex justify-center">
        <form method="post" class="bg-gray-200 shadow-2xl m-10 rounded p-10 w-3/5">
            {% csrf_token %}

            {% for field in form %}
            <div class="mb-4">
                <label class="text-gray-700 text-xl font-bold" for="id_{{field.name}}">{{field.label | title}}</label>
                <div class="shadow-lg appearance-none rounded">{{field}}</div>
            </div>
            {% endfor %}
            
            <button type="submit" class="bg-gray-600 hover:bg-gray-700 rounded text-white my-5 px-5 py-2">Save</button>
        </form>
    </div>
</div>

{% endblock content %}