{% extends "user/base.html" %}
{% load static %}

{% block content %}
<div class="flex my-8 justify-center">
    <h2 class="text-4xl">All Posts</h2>
</div>

<div class="grid grid-cols-1">
    {% for post in posts %}
    <div class="flex justify-center">
        <div class="mb-20 md:mx-60 lg:mx-80">
            <div class="flex">
                <a href="#">
                    <div class="user-container h-12 w-12 mb-2 flex">
                        {% if post.user.profile.image %}
                        <img class="rounded-full" src="{{post.user.profile.image.url}}" alt="">
                        {% endif %}
                        <div class="px-3 flex items-center italic"><strong>{{post.user}}</strong></div>
                    </div>
                </a>
            </div>
            <div class="rounded-md overflow-hidden">
                <img class="h-96 w-96 shadow-lg" src={{post.image.url}} alt="">
            </div>
            <div class="flex justify-between pr-4">
                <div class="icon-container mt-1 flex items-center gap-3">
                    <a class="btn-like cursor-pointer" id={{post.id}}>
                        {% if user in post.liked_by.all %}
                        <img class="w-8 h-8" src={% static 'posts/heart_filled.svg' %} alt="">
                        {% else %}
                        <img class="w-8 h-8" src={% static 'posts/heart.svg' %} alt="">
                        {% endif %}
                    </a>
                    <img class="w-7 h-7" src={% static 'posts/comment.svg' %} alt="">
                    <img class="w-8 h-8" src={% static 'posts/share.svg' %} alt="">
                </div>
                <div class="text-sm flex items-center text-gray-700 font-bold">
                    {% if post.liked_by.count < 1 %}
                    {% elif post.liked_by.count == 1 %}
                    {{post.liked_by.first}} likes this post
                    {% elif post.liked_by.count == 2 %}
                    {{post.liked_by.first}} and 1 other likes this post
                    {% else %}
                    {{post.liked_by.first}} & {{post.liked_by.count | add:-1}} others like this post
                    {% endif %}
                </div>
            </div>
            <div class="break-word w-96">
                <strong class="text-lg">{{post.title}}</strong>
                <p>{{post.caption}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if user.is_authenticated %}
    <script type="text/javascript">
        window.CSRF_TOKEN = "{{csrf_token}}"
        $('.btn-like').on('click', function () {
            let post_id = this.id;
            $('#' + post_id).children('img').attr('src', function (index, attr) {
                return attr == '/static/posts/heart.svg' ? '/static/posts/heart_filled.svg' : '/static/posts/heart.svg';
            });
            $.ajax({
                method: "POST",
                url: "/posts/like/",
                data: {
                    post_id: post_id,
                    csrfmiddlewaretoken: window.CSRF_TOKEN
                }
            })
        })
    </script>
{% endif %}

{% endblock content %}